<script setup lang="ts">
import { computed, ref, watch } from 'vue';

const weight = ref(0)
const heigth = ref(0)
const result = ref(0)
function calBMI() {
    const m = heigth.value / 100
    result.value = weight.value / Math.pow(m, 2)
}
watch(weight, calBMI)
watch(heigth, calBMI)
const computedResult = computed(function () {
    const m = heigth.value / 100
    return result.value = weight.value / Math.pow(m, 2)
})
</script>

<template>
    <div style="margin: auto;">
        <div style="margin: auto; background-color: rgba(211, 210, 210, 0.459); padding: 50px; width: 500px;">
            <div>
            <label for="weight">น้ำหนักตัว(KG.)</label>
            <input type="text" id="weight" v-model.number="weight">
        </div>
        <div>
            <label for="heigth">ส่วนสูง(CM.)</label>
            <input type="text" id="heigth" v-model.number="heigth">
        </div>
        <div>
            <button @click="calBMI()">คำนวน</button>
        </div>
        <div style="text-align: center; font-size: 20pt; padding: 20px;">BMI</div>
        <div style="text-align: center; font-size: 20pt; margin: auto; background-color: white; padding: 20px; width: 100px; border: 1px solid #ddd;">{{ computedResult.toFixed(2) }}</div>
        </div>

        <table>
            <tr>
                <th>BMI kg/m2</th>
                <th>อยู่ในเกณท์</th>
                <th>ภาวะเสี่ยงต่อโรค</th>
            </tr>
            <tr :class="{ activate: (result < 18.5) ? true : false }">
                <td>น้อยกว่า 18.50</td>
                <td>น้ำหนักน้อย / ผอม</td>
                <td>มากกว่าคนปกติ</td>
            </tr>
            <tr :class="{ activate: (result >= 18.5 && result <= 22.9) ? true : false }">
                <td>ระหว่าง 18.50 - 22.90</td>
                <td>ปกติ (สุขภาพดี)</td>
                <td>เท่าคนปกติ</td>
            </tr>
            <tr :class="{ activate: (result >= 23 && result <= 24.9) ? true : false }">
                <td>ระหว่าง 23 - 24.90</td>
                <td>ท้วม / โรคอ้วนระดับ 1</td>
                <td>อันตรายระดับ 1</td>
            </tr>
            <tr :class="{ activate: (result >= 25 && result <= 29.9) ? true : false }">
                <td>ระหว่าง 25 - 29.90</td>
                <td>อ้วน / โรคอ้วนระดับ 2</td>
                <td>อันตรายระดับ 2</td>
            </tr>
            <tr :class="{ activate: (result > 30) ? true : false }">
                <td>มากกว่า 30</td>
                <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
                <td>อันตรายระดับ 3</td>
            </tr>
        </table>
    </div>
</template>

<style scoped>
.activate {
    background-color: rgba(181, 156, 252, 0.856);
}

input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid #ddd;
    overflow-x: auto;
    margin: auto;
    padding: 10px;
}
</style>